*{
  margin:0;
  padding:0;
  justify-content: center;
  background-color: black;
  color: aliceblue;
  align-items: center;
}

.btn{
  cursor: pointer;
  padding: 2px;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  color: black;
  border: 1px;
  border-radius: 2px;
  align-items: center;
}
